#logo {
    display: block;
    margin: auto;
    margin-top: 10px;
}

.nav-item{
    margin-right: 40px;
    margin-left: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

.navbar-light .navbar-toggler {
    color: rgb(0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
}

.tab-content {
    margin-top: 30px;
}

/* #raimubg {
    background-image: url("/src/images/raimuBg.jpg");
} */
